includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - support
        - config
        - database
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::create\(\).#'
